body {
   color: #434455;
   background-color: #E5E5E5;
}
.page {
color:#2E2F42;
background-color: #E5E5E5;
}

.list {
    list-style: none;
}


/*site nav*/

.site-nav .link {
    color:#2E2F42;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: red;
}

/*addres*/
.addres {
    color: #434455;
}
.addres:hover,
.addres:focus {

}

/*main*/

/*first-section 111111111111111111111111111111111111111111111*/

.first {
    background-color: #2E2F42;
}
.first-title {
    color: #FFFFFF;
}
.first-btn {
    color: #FFFFFF;
    background-color: #4D5AE5;
}
.first-btn:hover,
.first-btn:focus {

}


/*next-section 22222222222222222222222222222222222222222222222222222222222*/

/*2-3 SECTION   3333333333333333333333333333333333333333*/
.section {
    background-color: #E5E5E5;
}
.section-title {
    color: #2E2F42;
}

.section-text {
 color: #434455;
}

/*4-SECTION   4444444444444444444444444444444444444444444444444444*/

.next {
    background-color: #F4F4FD;
}


/*footer   555555555555555555555555555555555555555555555555555*/

.footer {
    background-color: #2E2F42;

}
.footer-text {
    color: #F4F4FD;
}