:root {

}










body {
    font-family:'Roboto',sans-serif;
    color: #434455;
    background-color: #ffffff;
}




.login {
        font-family: 'Raleway', sans-serif;
        color: #2e2f42;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.logo.link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    font-weight: 500

}

.span {
    color: var(#2e2f42);
}




span.logo-style {
    font-family: 'Raleway', sans-serif;
    color: #f4f4fd;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
    
}

.navigation-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(#2e2f42);

} 
.link {
text-decoration: none;
} 
 
.navigation-item:hover,
.navigation-item:focus {
    color: #404bbf;
}





.addres {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.addres-item {
    color:var(#434455);

}
.addres-item:hover,
.addres-item:focus {
    color: var(#404bbf);
}






.title {
   
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff
}


.servise {
background-color: var(#2e2f42);
color: var(#2e2f42);
}

.title-head {
    color: var(#2e2f42);
}





.order {
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.order:hover,
.order:focus {
    background-color: #404BBF;
    cursor: pointer;
}


.strategy-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(#2e2f42);

}
.discription-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.title-picture {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
}

.title-picture {
color: var(#2e2f42);
}

.about {
    background-color: #F4F4FD
}

.title-about {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(#2e2f42);
}

.title-about {
color: var(#2e2f42);
}

.name-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
   
}

.name-item {
color: var(#2e2f42);
}


.about-text {
    line-height: 1.5;
    letter-spacing: 0.02em
}

.about-list {
    background-color: #FFFFFF;
}


.footer {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(#4d5ae5);
}

.logo.link {
    color: var(#4d5ae5);
}







.type-btn {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
}




.footer {
    background-color: #2e2f42;
}